@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body{
    background-image: url("/img/landscape.jpg");
}
h1{
    color: chocolate;
    text-align: center;
}

.list{
    background-color: transparent;
    width: 500px;
    padding: 4px;
    margin-top: 60px;
    margin-left: 180px;
    margin-right: auto;
}

.input-task {
    background-color: transparent;
}

.button {
    background-color: transparent;
}

.tasks{
    font-size: 20px;
    font-family: 'Cedarville Cursive', cursive;
    background-color: transparent;
    width: 500px;
    padding: 4px;
    margin-top: 15px;
    margin-left: 180px;
    margin-right: auto;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }